.Item
{
    background-color: var(--theme-background-0);

    border-radius: 5px;
}

.Item-tagInput
{
    box-sizing: border-box;
    width: 100%;
}

.Item-bar
{
    padding: 5px 15px 5px 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
}

.Item-select
{
    border-radius: 5px;
    border: 2px solid var(--theme-select-border);
}

.Item-options
{
    display: flex;
    flex-wrap: wrap;
}

.Item-options-del
{

}

.Item-tags
{
    box-sizing: border-box;
    width: 100%;

    padding: 5px;

    min-height: calc(1em + 5px);

    display: flex;
    flex-wrap: wrap;

    row-gap: 3px;
    column-gap: 3px;
}

.Item-tag
{
    display: flex;

    justify-content: space-between;
    align-items: center;
    
    column-gap: 10px;

    width: fit-content;

    border-radius: 999px;
    padding: 3px 7px 3px 7px;

    background-color: var(--theme-background-2);
}

.Item-descContainer
{
    display: flex;
    align-items: center;
    column-gap: 7px;
}

.Item-desc
{
    white-space: pre-wrap;
}

.Item-nameContainer
{
    display: flex;
    align-items: center;
    column-gap: 7px;
}

.Item-editTag
{
    display: flex;

    justify-content: space-between;
    align-items: center;
    
    column-gap: 10px;

    width: 1.2em;
    height: 1.2em;

    border-radius: 999px;
    padding: 3px 3px 3px 3px;

    background-color: var(--theme-background-2);

    cursor: pointer;
}

.Item-editTag > img
{
    width: 100%;
    height: 100%;
}

.Item-tag-del
{
    color: red;
    cursor: pointer;
}

.Item-expand
{
    margin: 0 10px 0 10px;
    padding: 5px 5px 5px 5px;

    border-top: 1px solid var(--theme-foreground-border);
}

.Item-state
{
    width: 2em;
    height: 2em;

    border-radius: 2em;
}

.Item-complete
{
    background-color: #29f329;
}

.Item-incomplete
{
    background-color: #aaaaaa55;
    border: 1px dashed var(--theme-foreground-border);
}

.Item-hidden
{
    display: none;
}
