.ItemViewer
{
    grid-row: 3 / 4;
    grid-column: 1 / 2;

    margin: 5px;
    
    overflow-y: visible;
    
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

@media (min-width: 45em)
{
    .ItemViewer
    {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        
        overflow-y: auto;
    }
}
