.SearchBar
{
    padding: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.SearchBar-bar
{
    display: flex;

    background-color: white;

    padding: 5px 10px 5px 10px;

    border-radius: 9999px;
}

.SearchBar-options
{
    display: flex;
    justify-content: space-between;
    margin: 0 1em 0 1em;
}

.SearchBar-undoRedoControls
{
    display: flex;
    column-gap: 0.4em;
}

.SearchBar-searchInput
{
    width: 100%;

    border: none;

    font-size: 1.5em;
}

.SearchBar-searchInput:focus
{
    outline: none;
}

.SearchBar-searchButton
{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 2.5em;
    height: 2.5em;

    background-color: white;
    border: none;
}