.ItemForm
{
    grid-row: 2 / 3;
    grid-column: 1 / 2;

    display: flex;
    flex-direction: column;
    row-gap: 5px;

    padding: 10px;
    margin: 10px;

    height: fit-content;

    background-color: var(--theme-background-1);

    border-radius: 2px;

    border: var(--theme-box-border);
    box-shadow: var(--theme-box-shadow);
}

.ItemForm-errorMessage
{
    color: red;
}

.ItemForm label
{
    display: flex;
    gap: 10px;
    align-items: center;
    height: 1.3em;
}

.ItemForm > input
{
    background-color: var(--theme-background-0);
    color: var(--theme-foreground-text);
    border: var(--theme-input-border);
}

.ItemForm > input:focus
{
    outline: var(--theme-select-border) solid 1px;
    border-radius: 3px;
}

.ItemForm > textarea
{
    background-color: var(--theme-background-0);
    color: var(--theme-foreground-text);
    border: var(--theme-input-border);
}

.ItemForm > textarea:focus
{
    outline: var(--theme-select-border) solid 1px;
    border-radius: 3px;
}

.ItemForm-Heading
{
    text-align: center;
}

.ItemForm-nameInput
{
    box-sizing: border-box;
    width: 100%;
}

.ItemForm-descInput
{
    height: 10em;
    box-sizing: border-box;
    width: 100%;
}

.ItemForm-tags
{
    box-sizing: border-box;
    width: 100%;

    padding: 5px;

    min-height: calc(1em + 5px);

    display: flex;
    flex-wrap: wrap;

    gap: 3px;
}

.ItemForm-tag
{
    display: flex;

    justify-content: space-between;
    align-items: center;
    
    column-gap: 10px;

    width: fit-content;

    border-radius: 999px;
    padding: 3px 7px 3px 7px;

    background-color: var(--theme-background-2);
}

.ItemForm-tag-del
{
    color: red;
    cursor: pointer;
}

.ItemForm-tagInput
{
    box-sizing: border-box;
    width: 100%;
}

.ItemForm-submitInput
{
    width: fit-content;
    padding: 5px;

    resize: none;
}

@media (min-width: 45em)
{
    .ItemForm
    {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }
}

.ItemForm-display-none
{
    display: none;
}