.SearchBar
{
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    border-radius: 2px;
    
    background-color: var(--theme-background-1);

    border: var(--theme-box-border);
    box-shadow: var(--theme-box-shadow);
}

.SearchBar-bar
{
    display: flex;

    background-color: var(--theme-background-0);
    color: var(--theme-foreground-text);
    
    border: var(--theme-box-border);
    box-shadow: var(--theme-box-shadow);

    padding: 5px 10px 5px 10px;

    border-radius: 9999px;
}

.SearchBar-options
{
    display: flex;
    justify-content: space-between;
    margin: 0 1em 0 1em;
}

.SearchBar-SortOptions > select
{
    background-color: var(--theme-background-0);
    color: var(--theme-foreground-text);
    border: var(--theme-input-border);
    border-radius: 2px;
}

.SearchBar-SortOptions > select:focus
{
    outline: var(--theme-select-border) solid 1px;
}

.SearchBar-focus
{
    outline: var(--theme-select-border) solid 1px;
}

.SearchBar-undoRedoControls
{
    display: flex;
    column-gap: 0.4em;
}

.SearchBar-searchInput
{
    width: 100%;

    border: none;

    background-color: var(--theme-background-0);
    color: var(--theme-foreground-text);

    font-size: 1.5em;
}

.SearchBar-searchInput:focus
{
    outline: none;
}

.SearchBar-searchButton
{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 2.5em;
    height: 2.5em;

    background-color: transparent !important;
    border: none !important;
}

.SearchBar-searchButton:hover
{
    background-color: transparent !important;
}